[Unit]
Description=Threshold Snapshot Service

[Service]
Type=simple
User=root
ExecStart=/root/threshold-snapshot.sh

[Install]
WantedBy=default.target