[Unit]
Description=Threshold Statesync Timer
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=true
OnCalendar=*-*-* 00:00:00
Unit=threshold-statesync.service

[Install]
WantedBy=timers.target